@model IEnumerable<PhoneBook_DrinkCompany.Models.Clientes>

@{
    ViewData["Title"] = "Distribuidora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<center><img src="~/lib/logo.png" /></center>-->
<h1>Lista de Contato:</h1>
<br />
<br />
<p>
    <!--<button type="button" class="btn btn-success" asp-action="Create">Create New</button>-->
    <a class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                CPF
            </th>
            <th>
                CNPJ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Telefones
            </th>

            <th>
                Endereço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @if (item.Cpnj == null)
                    {
                        @Html.Raw("Cliente não jurídico.");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Cpnj)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefoneCelular)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ClienteId"><i class="fas fa-user-edit"></i></a> |
                    <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.ClienteId"><i class="fas fa-eye"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ClienteId"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
